<header>
  <div class="header-inner">
    <div class="logo" onclick="window.location.href='index.html'">
      <img
        src="images/Company CI/DCC CI Full_Monochrome Reverse.png"
        alt="DC Connects Logo"
      />
    </div>
    <button
      id="hamburger-btn"
      class="hamburger"
      onclick="toggleMenuIcon()"
    >
      ☰
    </button>
  </div>
  <style>
    #hamburger-btn {
      font-size: 32px;
      background: none;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    #hamburger-btn.open {
      transform: rotate(90deg);
    }
  </style>
</header>
<nav>
  <ul>
    <li class="dropdown">
      <a
        href="index.html"
        onclick="if(window.innerWidth < 958){ event.preventDefault(); this.parentElement.classList.toggle('open'); }"
        >About Us</a
      >
      <ul class="submenu">
        <li><a href="index.html#company">About Company</a></li>
        <li><a href="index.html#investor-section">The Investor</a></li>
        <li><a href="index.html#affiliate-section">Affiliate</a></li>
      </ul>
    </li>
    <li><a href="built-ai.html">Built for AI</a></li>
    <li class="dropdown">
      <a
        href="services.html"
        onclick="if(window.innerWidth < 958){ event.preventDefault(); this.parentElement.classList.toggle('open'); }"
        >Services</a
      >
      <ul class="submenu">
        <li><a href="services.html#colocation-hero">Colocation</a></li>
        <li><a href="services.html#build-to-suit">Build to Suit</a></li>
        <li><a href="services.html#support-services">Support Services</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a
        href="data-center.html"
        onclick="if(window.innerWidth < 958){ event.preventDefault(); this.parentElement.classList.toggle('open'); }"
        >Data Centers</a
      >
      <ul class="submenu">
        <li><a href="data-center.html#south-korea">Korea</a></li>
        <li><a href="data-center.html#japan">Japan</a></li>
        <li><a href="data-center.html#taiwan">Taiwan</a></li>
      </ul>
    </li>
    <li><a href="news.html">News</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>